# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Rider
.idea/

# NuGet
*.nupkg
packages/
.nuget/

# ASP.NET
wwwroot/lib/
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db